# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Go
/export/bin/
/export/export.exe
/tools/*/mtsai-datalake-*
*.exe

# OS
.DS_Store
Thumbs.db
